.expand {
    background-size: cover;
    background-position: center;
    border: 10px solid white;
}

#a {background-image: url("https://i.postimg.cc/mZyyLfFL/arjun.jpg");}
#b {background-image: url("https://i.postimg.cc/L52ktvGF/albert.jpg");}
#c {background-image: url("https://i.postimg.cc/HsS0Mw2F/david.jpg");}
#d {
    background-image: url("https://i.postimg.cc/W3M6qxW7/aaron.jpg");
}
#e {
    background-image: url("https://i.postimg.cc/4NvqRSXV/adrin.jpg");
}
#f {
    background-image: url("https://i.postimg.cc/285hCqDG/radin.jpg");
}
#g {
    background-image: url("https://i.postimg.cc/13kq0JN7/selina.jpg");
}
#h {
    background-image: url("https://i.postimg.cc/2y0W4Y4n/jingwen.jpg");
}
#i {
    background-image: url("https://i.postimg.cc/6QZCFDXN/jamie.png");
}
#j {
    background-image: url("https://i.postimg.cc/cHmtSWkP/yiming.jpg");
}
#k {
    background-image: url("https://i.postimg.cc/0yMSJLrJ/max.jpg");
}
#l {
    background-image: url("https://i.postimg.cc/PJyW2Ykp/alicia.png");
}
#m {
    background-image: url("https://i.postimg.cc/rmcR3sjS/thomas.png");
}
#n {
    background-image: url("https://i.postimg.cc/28jF3c44/jack.jpg");
}
#o {
    background-image: url("https://i.postimg.cc/fyzXty0w/krish.jpg");
}
#p {
    background-image: url("https://i.postimg.cc/3r12MXPW/sriyan.jpg");
}
#q {
    background-image: url("https://i.postimg.cc/7LSTK03H/rohan.jpg");
}
#r {
    background-image: url("https://i.postimg.cc/htfL1XZv/jaimin.jpg");
}
#s {
    background-image: url("https://i.postimg.cc/651Rq96X/parva.jpg");
}
#t {
    background-image: url("https://i.postimg.cc/RZycsv2R/euan.jpg");
}